<div class="card p-3 mb-4 bg-success p-2 text-dark bg-opacity-25 w-50">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="flexbox-container">
                <label>Departure station: BOG</label>
                <label>Arrival station: MAD</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="flexbox-container">
                <label>Flight carrier: CO</label>
                <label>Flight number: 8006</label>
                <label>Price: USD$300</label>
            </div>
        </div>
    </div>
</div>